#p_nav_header {
	BORDER-RIGHT: #bbb 1px solid; BACKGROUND: url(http://images.hi5.com/images/header/hi5_header_3.jpg) no-repeat left top; OVERFLOW: hidden; BORDER-LEFT: #bbb 1px solid; WIDTH: 955px
}
.p_nav_secondary {
	DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif); PADDING-BOTTOM: 2px; WIDTH: auto; COLOR: white; PADDING-TOP: 6px; BORDER-BOTTOM: #bbb 1px solid; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; HEIGHT: 18px
}
.p_nav_secondary#sub_nav_profile {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_community {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_music {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_groups {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_photoshare {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_home {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_schools {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_colleges {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_classifieds {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_messages {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_search {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
.p_nav_secondary#sub_nav_video {
	BACKGROUND: url(http://images.hi5.com/images/header/subnav_gradient2.gif)
}
A.sub_nav_link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A.sub_nav_link:visited {
	COLOR: white
}
A.sub_nav_link:hover {
	COLOR: white; TEXT-DECORATION: underline
}
A.sub_nav_link_select {
	BORDER-RIGHT: #434750 1px; PADDING-RIGHT: 0px; BORDER-TOP: #434750 1px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; BORDER-LEFT: #434750 1px; COLOR: white; PADDING-TOP: 0px; BORDER-BOTTOM: #434750 0px; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A.sub_nav_link_select:visited {
	COLOR: white
}
A.sub_nav_link_select:hover {
	COLOR: white; TEXT-DECORATION: underline
}
A.link_channel {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
#new_header A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #085098; TEXT-DECORATION: none
}
.centerme {
	TEXT-ALIGN: center
}
#p_nav_header {
	BACKGROUND: url(../images/header_navbg.gif) repeat-x left top; MARGIN: 0px auto; OVERFLOW: visible; WIDTH: 974px; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #ccc 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative
}
.p_nav_secondary {
	PADDING-LEFT: 60px; TEXT-ALIGN: left
}
#new_header {
	BACKGROUND: url(../images/header_logo.gif) no-repeat 1px 1px; WIDTH: 100%; ZOOM: 1; POSITION: relative; TEXT-ALIGN: left
}
#primenu {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 7px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: relative
}
#primenu LI {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px
}
#primenu LI A {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 10px; COLOR: #666; PADDING-TOP: 20px; TEXT-DECORATION: none
}
#primenu LI A:hover {
	TEXT-DECORATION: underline
}
#primenu LI.on {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/header_selected.gif) repeat-x left bottom
}
#primenu LI.on A {
	FONT-WEIGHT: bold
}
#primenu LI.on A:hover {
	TEXT-DECORATION: none
}
#userstuff {
	FLOAT: right; WIDTH: 45%; POSITION: relative; HEIGHT: 50px
}
.loggedin {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 3px; TEXT-ALIGN: right
}
#acclinks {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 5px 3px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#acclinks LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#glsearch {
	FLOAT: right
}
#langdrop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 5px 5px 0px 0px; PADDING-TOP: 0px; POSITION: relative
}
#language-submenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 9999; BACKGROUND: #fff; LEFT: -100px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute
}
#language-submenu TABLE {
	WIDTH: 140px
}
#language-more {
	DISPLAY: block
}
.language-beta {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ee6700; POSITION: relative; TOP: -0.5em
}
.clr:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0; HEIGHT: 0px; content: "."
}
.clr {
	
}
.menu {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; COLOR: #ccc; PADDING-TOP: 2px
}
.menu A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #222; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.menu .selected {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #222; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.menu A:hover {
	BACKGROUND: #ccc; COLOR: white; TEXT-DECORATION: none
}
.menu A.selected {
	BACKGROUND: #ccc; COLOR: white; TEXT-DECORATION: none
}
.menu .selected {
	FONT-WEIGHT: bold; COLOR: #ee6700
}
.vertical.menu {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 19px; DISPLAY: block; BACKGROUND: #fff; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 16px; BORDER-BOTTOM: #ccc 1px solid
}
.vertical.menu A {
	DISPLAY: block
}
LI.lo {
	DISPLAY: none
}
LI.li {
	DISPLAY: none
}
P.loggedin {
	VISIBILITY: hidden
}
.sapo {
	DISPLAY: inline; FLOAT: left; MARGIN: -5px 5px 0px 0px
}
#language-submenu .on {
	BACKGROUND: #ccc
}
INPUT#search_button {
	POSITION: relative; TOP: 3px; HEIGHT: 15px
}
#gohome {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 55px; TEXT-INDENT: -5000px; HEIGHT: 50px
}
